# Bytecode and Caches
__pycache__/
*.pyc
.mypy_cache/
.pytest_cache/

# Virtual Environment
.venv/
venv/
env/

# Build and Distribution
build/
dist/
*.egg-info/

# Secrets
.env
*.log

# IDE & Editor Config
.idea/
.vscode/
*.swp
*~

# OS-specific
.DS_Store
Thumbs.db

# Testing
.coverage
htmlcov/
